<!DOCTYPE html>
<html>
<head>
  <title>Notes</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>

<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Notes</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span4 offset4 well">
      <legend>Please Sign In</legend>
      <% if alert -%>
        <div class="alert alert-error"><%= alert %></div>
      <% end -%>
      <% if notice -%>
        <div class="alert alert-success"><%= notice %></div>
      <% end -%>
      <%= yield %>
    </div>
  </div>
</div>

<%= javascript_include_tag "application" %>
</body>
</html>
